* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #1F191D;
  font-variant-numeric: lining-nums;
}

.center {
  padding-left: calc(50% - 540px);
  padding-right: calc(50% - 540px);
}

.top {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
}
.top__links {
  background-color: rgba(31, 25, 29, 0.3);
  padding-top: 24px;
  padding-bottom: 24px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}
.top__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #1F191D;
}
.top__link:hover {
  color: #ffffff;
  transition: all 1s;
}
.top__left {
  padding-top: 92px;
  padding-bottom: 152px;
}
.top__textBlock {
  width: 470px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  padding: 32px;
}
.top__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  padding-bottom: 36px;
}
.top__name {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding-bottom: 44px;
}

p {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.pd {
  padding-top: 112px;
  padding-bottom: 112px;
}

.about {
  background-color: #F4F4F4;
}
.about__content {
  display: flex;
  gap: 40px;
}
.about__icons {
  min-width: 333px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.carousel-indicators [data-bs-target] {
  background-color: #444141;
}

.education {
  background-color: #F4F4F4;
}
.education__block {
  display: flex;
  justify-content: space-between;
}
.education__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 36px;
}
.education__logo-text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 45.926px;
  font-weight: 700;
  padding-top: 12px;
}
.education__li {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-left: 36px;
  list-style-type: circle;
}

.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.contacts__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #1F191D;
}

footer {
  background-color: #1F191D;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .top__left {
    padding-top: 76px;
    padding-bottom: 136px;
  }
  .top__textBlock {
    width: 320px;
  }
  .top__title {
    font-size: 52px;
    line-height: 130%;
    padding-bottom: 32px;
  }
  .top__name {
    font-size: 36px;
    line-height: 130%;
  }
  .about__content {
    flex-direction: column;
  }
  h3 {
    padding-bottom: 64px;
  }
  .education__block {
    flex-direction: column;
    gap: 0px;
  }
  .education__left img {
    height: 64px;
  }
  .education__logo-text {
    visibility: hidden;
    padding-top: 0;
    font-size: 0;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__links {
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: flex-start;
    gap: 16px;
  }
  .top__link {
    font-size: 14px;
  }
  .top__left {
    padding-bottom: 36px;
  }
  .top__textBlock {
    width: 220px;
    padding: 16px;
  }
  .top__title {
    font-size: 36px;
    text-align: center;
  }
  .top__name {
    font-size: 24px;
    text-align: center;
  }
  .pd {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  h3 {
    font-size: 36px;
    line-height: 130%;
    padding-bottom: 32px;
  }
  p {
    font-size: 16px;
    line-height: 130%;
  }
  .about__text {
    gap: 20px;
  }
  .about__icons {
    gap: 36px;
  }
  .about__content {
    gap: 32px;
  }
  .contacts__text {
    gap: 12px;
  }
  .education__logo-text {
    font-size: 0;
  }
  .education__li {
    font-size: 16px;
    line-height: 130%;
    margin-left: 0;
  }
  .contacts__link {
    font-size: 20px;
    line-height: 130%;
  }
}/*# sourceMappingURL=style.css.map */